.container {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: 60vh;
  position: relative;
}

.widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.widget-settings {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 10px;
  border: 1px solid #ddd;
  width: 28%;
  height: 100%;
  overflow-y: scroll;
}

.widget-design {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #eee;
  border: 1px solid #ddd;
  width: 68%;
  height: 100%;
}

.widget-design-headline {
  display: block;
  position: relative;
  margin: 0;
  padding: 10px 2%;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  height: auto;
}

.widget-design-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin: 0;
  padding: 10px 0;
  background-color: #eee;
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
}

.designRow {
    position: relative;
    width: 98%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.slotBox {
    position: relative;
    flex-grow: 1;
    height: 95%;
    background-color: #fff;
    font-size: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
    cursor: move;
}

.slotBox > p {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1;
}

.adosr {
  display: block;
  padding: 2px 0;
  width: 36px;
  text-align: center;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}

.adosr.AD {
  background-color: #43adde; 
}
.adosr.OSR {
  background-color: #3fa035; 
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: .5;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.slotBox:last-child {
  border: none;
}

.designSlots.cdk-drop-list-dragging .slotBox:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
