<div class="container">
  <h3>Design:</h3>
  <div class="widget">
    <div class="widget-settings">
      <h4>Settings:</h4>
      <label>No. of Rows: <input type="text" name="widget_no_of_rows" value="2" onchange="NoRowsSlots(event)"></label>
      <label>No. of Slots: <input type="text" name="widget_no_of_slots" value="6" onchange="NoRowsSlots(event)"></label>
    </div>
    <div  class="widget-design" cdkDropListGroup>
      <div  *ngFor='let row of matrix'
            class="designSlots" 
            cdkDropList 
            [cdkDropListData]="row" 
            (cdkDropListDropped)="drop($event)" 
            cdkDropListOrientation="horizontal">
        <div  class="slotBox" 
              cdkDrag 
              [cdkDragData]='col' 
              *ngFor='let col of row' >
            <div class="adosr" (click)="adOsrToggle($event)">OSR</div>
        </div>
      </div>
    </div>
  </div>
</div>